@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-login {
    background-image: url('/tamara-bellis-5kSP-2tCjCY-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .bg-forgot{
    background-image: url('/xinyi-w-KAgGjw4HgNY-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  